 body {
     font-family: Arial, sans-serif;
     margin: 0;
     background-color: #F0ECEC;
     color: #333;
 }
 
 .Header {
     background-color: #578BA3;
     margin: 0;
     padding: 0.1px;
     padding-bottom: 0;
     max-width: 100%;
     height: 80px;
     border-bottom: 5px solid white;
 }
 
 .Header ul {
     padding: 0px;
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }
 
 .Header ul li {
     list-style: none;
 }
 
 .Header ul li img {
     height: 55px;
     max-width: 100%;
     margin-right: 45px;
     margin-left: 45px;
     border: 2px solid white;
     border-radius: 50%;
 }
 
 #iFrameViewer {
     margin-left: 20%;
     max-width: 100%;
     height: auto;
 }
 
 .tSection {
     text-align: center;
     padding: 10px 20px 5px;
     font-size: 18px;
 }
 
 .langToggler {
     display: flex;
     justify-content: center;
     gap: 15px;
     margin: 10px 0 30px;
     flex-wrap: wrap;
 }
 
 .langToggler button {
     background-color: #578BA3;
     color: white;
     padding: 12px 20px;
     border-radius: 8px;
     text-decoration: none;
     font-weight: bold;
     transition: background-color 0.3s;
 }
 
 .langToggler button:hover {
     background-color: #4aa7ca;
 }
 
 .bSection {
     text-align: center;
     margin-top: 60px;
     padding: 20px;
 }
 
 .bSection p {
     font-size: 16px;
     margin-bottom: 20px;
 }
 
 .imageSection {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
 }
 
 .imageSection a img {
     max-width: 250px;
     width: 100%;
     height: 90%;
     border-radius: 15px;
     transition: transform 0.3s;
     margin-right: 50px;
     margin-left: 50px;
 }
 
 .imageSectiona img:hover {
     transform: scale(1.05);
 }
 
 #arrowLeft {
     width: 90px;
     height: auto;
     margin-left: 55%;
     margin-bottom: -50px;
 }
 
 @media (max-width: 600px) {
     .imageSection {
         flex-direction: row;
         gap: 10px;
     }
     .imageSection {
         flex-direction: row;
         flex-wrap: wrap;
     }
     .imageSection a {
         flex: 1 1 40%;
     }
     header {
         flex-direction: row;
         justify-content: space-between;
     }
     header img {
         height: 50px;
     }
 }
 
 .boP {
     background-color: #578BA3;
     border-top: 5px solid white;
 }